<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products In Cart</title>
    <link href="css/style3.css" rel="stylesheet" type="text/css" media="all"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Flash Registration Form  Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
</head>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>

<body>
<!---header--->
<div class="header">
    <h1>Products In Cart</h1>
</div>
<!---header--->
<!---main--->
<div class="main">
    <div class="main-section">
        <div class="product-section" th:each="product:${products}">
            <div class="product-top">
                <div class="product-left">
                    <img th:src="@{${product.image}}">
                </div>
                <div class="product-right">
                    <label>Product</label>
                    <h2 th:text="${product.nameProd}"></h2>
                </div>
            </div>
            <div class="product-right1">
                <label>Price</label>
                <p th:text="${#numbers.formatCurrency(product.price)}"></p>
<!--                <form th:method="get" th:action="@{'/mobile/cart/{id}' (id=${product.id}) }">-->
                    <div class="close" th:attr="prodid=${product.id}"></div>
<!--                </form>-->

            </div>
            <div class="clear"></div>
        </div>
        <div class="product-bottom">
            <h3 class="total-price" th:attr="price=${myCart.totalPrice()}">Total : <span  th:text="${#numbers.formatCurrency(myCart.totalPrice())}"></span></h3>
            <a id="btn-order"  th:attr="name=${nameProd}" >Order</a>
            <a th:href="@{/mobile}">Back</a>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<!---main--->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script th:src="@{/js/user-cart.js}"></script>

</body>
</html>