<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mobilestore Website</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="keywords"
          content="Mobilestore iphone web template, Android web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <link href='//fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet'
          type='text/css'>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {

            // Slideshow 1
            $("#slider1").responsiveSlides({
                maxwidth: 1600,
                speed: 600
            });
        });
    </script>
</head>
<body>
<div class="wrap">
    <!----start-Header---->
    <div class="header">
        <div class="search-bar">
            <form th:method="get" th:action="@{/mobile/search (name=${search})}">
                <input th:name="name" th:value="${search}" type="text">
                <input type="submit" value="Search"/>
            </form>
        </div>
        <div class="clear"></div>
        <div class="header-top-nav">
            <ul>
                <li th:if="${isUser} == true"><p>Xin chào </p><span th:text="${currentUser.getEmail()}"></span></li>
                <li><a th:href="@{/mobile/register}">Register</a></li>
                <li><a th:href="@{/mobile/login}">Login</a></li>
                <li><a th:href="@{/mobile/logout}">Logout</a></li>
                <li><a th:href="@{/mobile/cart}"><span>shopping cart&nbsp;&nbsp;: </span></a><label
                        th:text="${myCart.getCount()}"> </label></li>
                <li><span>view: </span><label th:text="${myCounter.getCount()}"></label></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
<div class="top-header">
    <div class="wrap">
        <!----start-logo---->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" title="logo"/></a>
        </div>
        <!----end-logo---->
        <!----start-top-nav---->
        <div class="top-nav">
            <ul>
                <li><a th:href="@{/mobile}">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="store.html">Featured</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!----End-top-nav---->
<!----End-Header---->
<!--start-image-slider---->
<div class="wrap">
    <div class="image-slider">
        <!-- Slideshow 1 -->
        <ul class="rslides" id="slider1">
            <li><img src="images/1.png" alt=""></li>
            <li><img src="images/2.png" alt=""></li>
            <li><img src="images/1.png" alt=""></li>
        </ul>
        <!-- Slideshow 2 -->
    </div>
    <!--End-image-slider---->
</div>
<div class="clear"></div>
<div class="wrap">
    <div class="content">

        <div class="content-grids">
            <h4>Deals of the day</h4>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4 products-info" th:each="product:${products.content}">
                    <a th:href="@{/mobile/info/__${product.id}__}"><img th:src="@{${product.image}}"></a>
                    <a th:href="@{/mobile/info/__${product.id}__}"><span th:text="${product.name}"></span></a>
                    <h3 th:text="${product.price}"></h3>
                </div>
            </div>
            <div class="topassda">
                <a class="button-prev" th:href="@{'/mobile'( page=${products.currentPage -1})}"
                   th:if="${products.hasPrev}">Previous</a>
                <span th:text="${products.currentPage}"></span>/<span th:text="${products.totalPage}"></span>
                <a class="button-next" th:href="@{'/mobile'( page=${products.currentPage + 1})}"
                   th:if="${products.hasNext}">Next</a>
            </div>
        </div>

        <div class="content-sidebar">
            <h4>Categories</h4>
            <ul>
                <li th:each="category:${categories}">
                    <a class="button-cate" th:href="@{'/mobile/category'( id=${category.id})}" th:text="${category.nameCate}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="footer">

    <div class="clear"></div>
    <div class="wrap">
        <div class="copy-right">
            <p>&copy; 2013 Mobile Store. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3Layouts</a>
            </p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script th:src="@{/js/click.js}"></script>

</body>
</html>

