<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/user/main_layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #about-static-resources},
                                                ~{:: #about-main-content}
                                               )}">
<head>
    <th:block id="about-static-resources">
        <title>Mobile Info</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='//fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet'
              type='text/css'>
        <script src="js/jquery.min.js"></script>
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/>
        <script src="js/imagezoom.js"></script>
        <!-- FlexSlider -->
        <script defer src="js/jquery.flexslider.js"></script>
        <script>
            // Can also be used with $(document).ready()
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    controlNav: "thumbnails"
                });
            });
        </script>
        <!----->
        <script>
            $(document).ready(function () {
                $(".menu_body").hide();
                //toggle the componenet with class menu_body
                $(".menu_head").click(function () {
                    $(this).next(".menu_body").slideToggle(600);
                    var plusmin;
                    plusmin = $(this).children(".plusminus").text();

                    if (plusmin == '+')
                        $(this).children(".plusminus").text('-');
                    else
                        $(this).children(".plusminus").text('+');
                });
            });
        </script>
    </th:block>
</head>
<body>
<div id="about-main-content">
    <div class="content">
        <div class="content-grids">
            <div class="details-page">
                <div class="back-links">
                    <ul>
                        <li><a href="#">Home</a><img src="images/arrow.png" alt=""></li>
                        <li><a href="#">Product</a><img src="images/arrow.png" alt=""></li>
                        <li><a href="#">Product-Details</a><img src="images/arrow.png" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="detalis-image">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="images/1.jpg">
                            <div class="thumb-image"><img src="images/1.png" data-imagezoom="true"
                                                          class="img-responsive" alt=""/></div>
                        </li>
                        <li data-thumb="images/m11.jpg">
                            <div class="thumb-image"><img src="images/2.png" data-imagezoom="true"
                                                          class="img-responsive" alt=""/></div>
                        </li>
                        <li data-thumb="images/m11.jpg">
                            <div class="thumb-image"><img src="images/3.png" data-imagezoom="true"
                                                          class="img-responsive" alt=""/></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="detalis-image-details">
                <div class="details-categories">
                    <ul>
                        <li><h3>Category:</h3></li>
                        <li class="active1"><a href="#"><span>Nokia Mobiles</span></a></li>
                    </ul>
                </div>
                <br/>
                <div class="brand-value">
                    <h3>Product-Complete Details With Value</h3>
                    <div class="left-value-details">
                        <ul>
                            <li>Price:</li>
                            <li><span>$350</span></li>
                            <li><h5>$250</h5></li>
                            <br/>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="brand-history">
                    <h3>Description :</h3>
                    <p>fdssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
                    sdfaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    dsffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                    dsffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                    dsfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</p>
                    <a href="#">Addcart</a>
                </div>
                <div class="clear"></div>

            </div>
            <div class="clear"></div>
            <div class="menu_container">
                <p class="menu_head">Lorem Ipsum<span class="plusminus">+</span></p>
                <div class="menu_body" style="display: none;">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                </div>
                <p class="menu_head">About Product<span class="plusminus">+</span></p>
                <div class="menu_body" style="display: none;">
                    <p>theonlytutorials.com is providing a great varitey of tutorials and scripts to use it immediate on
                        any project!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

