<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment(title, otherStaticResources, mainContent)">
<head>
    <meta charset="UTF-8"/>
    <title th:replace="${title}">Page Title</title>

    <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>
<body>
<div class="wrap">
    <!----start-Header---->
    <div class="header">
        <div class="search-bar">
            <form>
                <input type="text"><input type="submit" value="Search"/>
            </form>
        </div>
        <div class="clear"></div>
        <div class="header-top-nav">
            <ul>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Checkout</a></li>
                <li><a href="#">My account</a></li>
                <li><a href="#"><span>shopping cart&nbsp;&nbsp;: </span></a><label> &nbsp;noitems</label></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
<div class="top-header">
    <div class="wrap">
        <!----start-logo---->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" title="logo"/></a>
        </div>
        <!----end-logo---->
        <!----start-top-nav---->
        <div class="top-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="store.html">Featured</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!----End-top-nav---->
<!----End-Header---->
<!--start-image-slider---->

<div class="clear"></div>
<div class="wrap">
    <div class="content">

        <article th:insert="${mainContent} ?: ~{}">
<!--            Noi dung trang-->
        </article>

        <div class="content-sidebar">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Accord Mobiles</a></li>
                <li><a href="#">Ace Mobile</a></li>
                <li><a href="#">Acer Mobile</a></li>
                <li><a href="#">Airfone</a></li>
                <li><a href="#">Apple</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="footer">

    <div class="clear"></div>
    <div class="wrap">
        <div class="copy-right">
            <p>&copy; 2020 Mobile Store. All Rights Reserved | Design by Dieu Nguyen</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>

